<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temporal TCTL Helper</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex h-[calc(100vh-80px)] items-center justify-center p-5 bg-white w-full">
    <div class="text-center">
      <div class="inline-flex rounded-full bg-green-100 p-4">
        <div class="rounded-full stroke-green-600 bg-green-200 p-4">
          <svg class="w-16 h-16" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.0002 9.33337V14M14.0002 18.6667H14.0118M25.6668 14C25.6668 20.4434 20.4435 25.6667 14.0002 25.6667C7.55684 25.6667 2.3335 20.4434 2.3335 14C2.3335 7.55672 7.55684 2.33337 14.0002 2.33337C20.4435 2.33337 25.6668 7.55672 25.6668 14Z"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
      <h1 class="mt-5 text-[36px] font-bold text-slate-800 lg:text-[50px]">Workflow started</h1>
      <div
        class="block rounded-lg bg-white text-left shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] bg-green-500 dark:bg-green-500">
        <div class="p-6">
          <h5 class="mb-1 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            TCTL Generated
          </h5>
          <p id="cli" class="mb-4 text-base  leading-normal text-neutral-600 dark:text-neutral-200">
            <%=cli%>
          </p>
          <a type="button" href="#"
            class="pointer-events-auto mr-5 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 text-neutral-800 dark:text-neutral-50"
            onclick="navigator.clipboard.writeText(document.querySelector('#cli').innerText.trim());alert('TCTL copied to clipboard')">
            Copy to clipboard
          </a>
        </div>
      </div>
      <p class="text-slate-600 mt-5 lg:text-lg" style="    white-space: break-spaces;">
        <%=data%>
      </p>
      <a target="_blank"
        href="<%=temporal_client%>/namespaces/<%=namespace%>/workflows/<%=workflow_id%>/<%=run_id%>/history">
        <button type="submit"
          class="mt-4 px-4 py-3  leading-6 text-base rounded-md border border-transparent text-white focus:outline-none bg-blue-500 text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none">
          Visit Workflow
        </button>
      </a>
      <div class="flex flex-col items-center mt-5">
        <p class="mt-1 text-md font-light text-gray-500">
          Do you wish to start another workflow?<a href="/temporal" class="ml-1 font-medium text-blue-400">Click here</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>